/*==== Filter ====*/
.search-bar {
  margin: 5px auto;
  font-size: 20px;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #a6acaf;
  outline: 0;
}
.search-bar:hover {
  border: 3px solid #2e4053;
}

.filter-size,
.filter-sort,
.filer-result {
  font-size: 25px;
  text-transform: capitalize;
  margin: 5px 0;
  padding: 5px;
}
select {
  padding: 5px;
  height: 40px;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
  text-transform: capitalize;
  cursor: pointer;
}
select:hover {
  border: 3px solid #ddd;
  padding: 5px;
  font-size: 20px;
}
/*====// Filter //====*/
