.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: max-content;
  padding: 5px 20px;
  margin: 10px auto;
  border-radius: 5px;
}
.pagination .page {
  margin: 0 5px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .previous-page,
.pagination .next-page {
  color: white;
  font-size: 35px;
  margin: 0 5px;
  cursor: pointer;
}
.active-page {
  background-color: #5d6d7e;
}
button {
  border: 0;
  outline: 0;
  background-color: gray;
}
