/*==== Genral Rules ====*/

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.container-all {
  position: relative;
}
body {
  font-family: "Roboto", sans-serif;
}
/*====// Genral Rules //====*/

/*==== Form  ====*/

.form-container {
  background-color: #2980b9;
  width: 50%;
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 5px;
  height: auto;
}

.text-label {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
.form-input {
  font-size: 15px;
}
.form-input:hover {
  font-size: 18px;
  border: 3px solid green;
  outline: 1px solid greenyellow;
}
.btn-submit {
  background-color: #515a5a;
  color: white;
  font-size: 22px;
  text-transform: capitalize;
  display: block;
  margin: auto;
}
.btn-submit:hover {
  background-color: #424949;
  font-size: 23px;
  color: white;
}
.text-message {
  color: brown;
  font-size: 17px;
  margin-top: 10px;
}
/*====// Form Rules //====*/

/*==== Product Card (home and cart pages)====*/

.product-card {
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px 5px;
  padding: 10px;
  flex-direction: column;
  cursor: pointer;
}
.product-card:hover {
  padding: 5px;
  border: 3px solid rgba(0, 0, 0, 0.43);
  font-size: 17px;
}
.product-card-img {
  width: 90%;
  background-size: cover;
  height: 250px;
}
.product-card-img:hover {
  width: 95%;
}
.product-card-title {
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-align: center;
  height: 50px;
}
.product-card-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-card .add-btn {
  padding: 3%;
  font-size: 100%;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  width: 50%;
  height: 10%;
}

.product-card .delete-btn {
  padding: 2px 10px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 100px;
}

.product-card .edit-btn {
  padding: 6px 10px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 100px;
}
.product-card-action .add-btn-display-none {
  display: none;
}
.product-card-action .add-btn {
  background-color: #f39c12;
}
.product-card-action .add-btn:hover {
  border: 2px solid black;
  padding: 7px;
}

.product-card-action .price {
  font-size: 20px;
}

.see-more {
  text-decoration: none;
  font-size: 25px;
  color: #d4ac0d;
  text-transform: capitalize;
  background-color: #d7dbdd;
  padding: 3px 5px;
  margin-top: 5px;
}
/*====// Product Card (home and cart pages) //====*/

/*==== Product Card  (cart page)====*/
.card-item {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
/* .delete-btn */

/*====// Product Card  (cart page) //====*/

.alert {
  position: fixed;
  right: 0;
  bottom: 10%;
  width: 300px;
}
/*==== go back component  ====*/

/*====// go back component  //====*/
