* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper-order {
  display: flex;
  justify-content: center;
}
.order-checkout {
  width: 30%;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  height: 200px;
  margin-top: 20px;
  border-radius: 5px;
}
.order-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  height: 200px;
}
.order-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-name {
  font-size: 25px;
  color: #34495e;
  font-weight: 700;
}
.price-count {
  font-size: 20px;
}
.checkout-total {
  flex: 1;
}
.price-name-total {
  font-size: 30px;
  color: #34495e;
  font-weight: 700;
}
.price-total {
  font-size: 30px;
  font-weight: 400;
}
