/*==== basket ====*/

.basket {
  position: absolute;
  top: 11.7%;
  right: 3%;
  z-index: 1;
  padding: 10px;
  border: 3px solid #ddd;
}
.basket:hover {
  border: 3px solid gray;
  padding: 15px;
}
.basket-none {
  display: none;
}
.basket .remove-all-btn {
  background-color: brown;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  margin-left: auto;
  width: 120px;
  display: block;
  font-size: 20px;
}
.basket .remove-all-btn:hover {
  padding: 11px;
  border: 3px solid black;
}
.basket-content {
  display: flex;
  border: 3px solid #ddd;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
}
.basket-body {
  flex: 1;
  margin-left: 5px;
}

.basket-content img {
  height: 100px;
}
.basket-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.basket-quantity {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.basket-quantity > button {
  border-radius: 50%;
  height: 30x;
  width: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 25px;
}
.minus-qunatity {
  background-color: #cacfd2;
}
.plus-qunatity {
  background-color: #cacfd2;
}
.basket-quantity > span {
  font-size: 20px;
}
.remove {
  margin-left: auto;
  text-align: right;
}
.remove-btn {
  background-color: #ec7063;
  font-size: 20px;
  color: white;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px 0 5px auto;
  display: block;
}
/*====// basket //====*/
