* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*===== sider bar =====*/

.sider-bar-nav {
  display: flex;
  flex-direction: column;
  background-color: #aab7b8;
  height: 100vh;
}
.sider-bar-nav-brand {
  color: #1a5276;
  font-size: 40px;
  text-decoration: none;
  text-transform: capitalize;
}
.sider-bar-nav-brand:hover {
  color: #1a5276;
  font-size: 45px;
}
.sider-bar-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  margin-top: 10px;
  padding: 10px 3px;
}
.sider-bar-link {
  display: flex;
}
.side-bar-icon:hover,
.side-bar-title:hover {
  font-size: 35px;
  color: #34495e;
}
.side-bar-icon {
  font-size: 30px;
  margin-right: 25px;
  cursor: pointer;
}
.side-bar-title {
  font-size: 30px;
  cursor: pointer;
  color: #34495e;
  text-transform: capitalize;
  text-decoration: none;
}

/*=====// sider bar //=====*/

/*===== main =====*/
.main-content {
  background-color: #ddd;
  padding: 10px 0;
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  text-transform: capitalize;
}
.header-link {
  border: 3px solid gray;
  width: 200px;
  border-radius: 5px;
  padding: 0 3px;
}
.header-link:hover {
  border: 4px solid gray;
  font-size: 30px;
}
.header-links .details {
  display: flex;
  align-items: center;
}

.header-links .details h3 {
  margin-right: 25px;
  background-color: #229954;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.header-icon {
  font-size: 30px;
}

/*=====// main //=====*/
