/*==== product detail ====*/

.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ddd;
  align-items: center;
  margin: 10px 5px;
  padding: 5px;
}
.product-detail-image {
  height: 700px;
  width: 400px;
  margin-bottom: 5px;
}
.product-detail-description {
  font-size: 20px;
  font-weight: 400;
}
.product-detail-size {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: large;
}
.product-detail-size .size {
  background-color: #bdc3c7;
  text-align: center;
  padding: 3px 5px;
}

/*====// product detail //====*/
